<h1>Criar produto</h1>
<form action="/products/create" method="post">
  <div class="form-control">
    <label for="name">Nome do produto:</label>
    <input type="text" name="name" placeholder="Insira o nome do produto:" />
  </div>
  <div class="form-control">
    <label for="price">Preço do produto:</label>
    <input type="text" name="price" placeholder="Insira o preço do produto:" />
  </div>
  <div class="form-control">
    <label for="image">Imagem do produto:</label>
    <input type="text" name="image" placeholder="Insira a URL da imagem" />
  </div>
  <div class="form-control">
    <label for="description">Descrição do produto:</label>
    <textarea
      type="text"
      name="description"
      placeholder="Insira a descrição do produto:"
    ></textarea>
  </div>
  <input type="submit" value="Cadastrar" class="btn" />
</form>